__pycache__/command.cpython-310.pyc
__pycache__/config.cpython-310.pyc
__pycache__/pictures.cpython-310.pyc
__pycache__/weather.cpython-310.pyc
__pycache__/web.cpython-310.pyc
__pycache__/news.cpython-310.pyc
bot-venv
*.db

